@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-gray: #494c4f;
  --primar-green: #17aa8f;
  --primay-white: #ffffff;
  --primatyPurple: #525174;
}

html {
  direction: rtl;
}

@layer components {
  .headerActive {
    @apply bg-primaryGreen text-white; /* Ensures text color is white when headerActive is applied */
  }

  .container {
    @apply max-w-[1280px] mx-auto;
  }
  .textContainer {
    /* @apply max-w-[780px] mx-auto; */
    @apply w-4/6 mx-auto;
  }
  .textStyle {
    @apply w-full md:w-4/5 text-justify textContainer leading-8 font-bold text-textGary  px-4;
  }
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
